body { margin:10px; background-image: url("../images/wall.jpg"); }

.container {
  width:800px;
  margin:0 auto;
}

.barra {
  background-color:#000000;
  color: #ffffff;
  font-size: 20px;
  height: 30px; width: 700px;
}
#my_canvas{ 
  background:#000000; 
  border:#000 1px solid; 
}
.boton{
    color:magenta;
    font-size: 22px;
    font-family:Verdana;
    background-color: #000000;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid gray;
    align-items: center;
}
.boton:hover{
    background-color: purple;
    color: #000000;
}